.detail-page {
    margin-top: 100px;
    .row {
        // border: 2px solid black;
        margin: auto;
        .col-6 {
            // border: 2px solid red;
            padding: 0px 70px;

            ul {
                .image {
                    padding: 0px 15px;
                    // overflow: hidden;
                }
                li {
                    list-style: none;
                    // margin-top: 10px;
                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        // object-position:10%;
                        border-radius: 10px;
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 4px !important;
                    }
                    // img:hover{
                    //     transform: scale(1.1);
                    //     transition: 0.5s ease-in-out;
                    // }
                    .place {
                        font-weight: bold;
                        font-size: 25px;
                        margin-top: 15px;
                        text-align: center;
                    }

                    .category {
                        text-align: center;
                        display: flex;
                        justify-content: space-evenly;
                        margin-top: 15px;
                        button {
                            border: 2px solid #67b542;
                            background-color: #67b542;
                            color: white;
                            border-radius: 50px;
                            padding: 10px;
                            i {
                                padding-right: 5px;
                            }
                        }
                        .city {
                            button {
                                background-color: red;
                                border: 2px solid red;
                                color: white;
                                font-style: italic;
                            }
                        }
                    }
                    .description {
                        margin-top: 15px;
                        font-style: italic;
                        text-align: justify;
                    }

                    .latlng {
                        margin-top: 15px;
                        text-align: center;
                        display: flex;
                        justify-content: space-evenly;
                        .lat {
                            strong {
                                padding-right: 5px;
                            }
                        }
                        .lng {
                            strong {
                                padding-right: 5px;
                            }
                        }
                    }
                    .address {
                        margin-top: 15px;
                        i {
                            color: red;
                            font-size: 25px;
                            padding-right: 10px;
                        }
                    }
                    .url {
                        margin-top: 15px;
                        font-style: italic;
                        color: #655ae5;
                        i {
                            color: blue;
                            font-size: 20px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }

        .col-5{
            
        }
    }
}
