#animation{
    width: 83.33333333px;
    height: 126px;
    background: url('https://38.media.tumblr.com/tumblr_mb4zsyUYCT1rvuv0d.png');
    margin: 0 auto;
    transform: rotateY(180deg);
    animation: walk-cycle 1s steps(6) infinite;
    img{
        position: absolute;
        z-index: -1;
    }
}

@keyframes walk-cycle {
    from{
        background-position: 0px;
    }
    to{
        background-position: -500px;
    }
}